/HelloWorld/target/
/TheOrderOfThings/target/
/BestAdderEver/target/
/AllAboutMe/target/
/foundations.scanner/target/
/foundation.scanner/target/
/Temp/target/
/foundations.flowcontrol.ifs/target/
/foundations.random/target/
/foundations.random3/target/
/foundations.random4/target/
/foundations.random.coinflipper/target/
/foundation.random.guessmemore/target/
/foundation.random.doggenetics/target/
/foundations.randon.alittlechaos/target/
/foundations.fors/target/
/foundations.fors.traditionalfizzbuss/target/
/exercise.luckysevens/target/
/exercise.interestcalculator/target/
/barelycontrolledchaos/target/
/arrays.simplesort/target/
/Fruitsalad/target/
/exercise.factorizer/target/
/Assignment.rockpaperscissors/target/
/Assignmenthealthyhearts/target/
/assignmentsummativesums/target/
/doggenetics/target/
/classModeling/target/
/factorizerwithclass/target/
/luckysevenwithclass/target/
/rockpaperscissorwithclass/target/
/simplecalculator/target/
/Shapes/target/
/UserIO/target/
/StateCapitals/target/
/StateCapital2/target/
/StudentQuizGrades/target/
/SimpleFileIO/target/
/ClassRoster/target/
/AddressBook/target/
/DVDLibrary/target/
/Section03UnitTests/nbproject/
/Section03UnitTests/target/
/ClassRoster/nbproject/
/AddressBook/nbproject/
/DVDLibrary/nbproject/
/EnumDaysToFriday/target/
/MathOperations/target/
/datetimecodealong/target/
/BigDecimalCodeAlong/target/
/InterestCalculator/target/